@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
      font-family: 'Poppins',sans-serif;
}

.navbar-custom {
    background: linear-gradient(130.63deg, #0003AA 24.11%, #5B0369 100.86%);

  }
  .navbar-custom .navbar-brand, .navbar-custom .navbar-nav .nav-link {
    color: #ffffff; /* White text */
  }

#home{
    background: linear-gradient(130.63deg, #0003AA 24.11%, #5B0369 100.86%);
    color: #ffffff;
    }

#home .two img{
    background-position: center center;
    position: relative;
}

h5{
    font-size: 2.5rem;
    font-weight: 700;
}
